{% extends 'baselayout.html' %}
{% load static %}

{% block headlinks %}
<link href="{% static 'css/baselayout.css' %}" rel="stylesheet">
<script src="{% static 'js/baselayout.js' %}" type="text/javascript"></script>
<link href="{% static 'css/question_test_styles.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/question_test_javascript.js' %}"></script>
{% endblock headlinks %}
{% block title %}
Home
{% endblock title %}


{% block body %}
<!--Add content button-->
<button class="add-content-button" onclick="openModal()">+</button>
<!--question activities modal-->
<div class="question-opt-modal" id="contentModal">
    <div class="modal-option" onclick="CNMQ()">Multiple Choice Question</div>
    <div class="modal-option" onclick="CNQ()">Input Question</div>
</div>
<script defer src="{% static 'js/functionality/page.min.js' %}" type="text/javascript"></script>
{% endblock body %}


