{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <script src="//code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'css/baselayout.css' %}" rel="stylesheet">
    <script src="{% static 'js/baselayout.js' %}" type="text/javascript"></script>

    <!--for summernote editor-->
    <!-- include libraries(jQuery, bootstrap) -->

    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    {% block headlinks %}{% endblock headlinks %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>

{% block navLinks %}
<div class="overlay" id="overlay"></div>
<div>
    <header><h3 style="width: 100px;margin: 0 auto;display: block;">TestSuite</h3></header>
</div>
<div class="hamburger-menu" id="sdBNv">
    <input id="menu__toggle" type="checkbox"/>
    <label class="menu__btn" for="menu__toggle">
        <span></span>
    </label>
    <ul id="menu__box" class="menu__box">
        <li><a class="menu__item" href="{% url 'mainsite:Home' %}">Home</a></li>
        <li><a class="menu__item" href="#">About</a></li>
        <li><a class="menu__item" href="#">Team</a></li>
        <li><a class="menu__item" href="#">Contact</a></li>
        <li><a class="menu__item" href="#">Twitter</a></li>
    </ul>
</div>
{% endblock navLinks %}
{% block body %}
{% endblock body %}

<!-- <script>-->
<!--      document.addEventListener('contextmenu', event=> event.preventDefault());-->
<!--      document.onkeydown = function(e) {-->
<!--      if(event.keyCode == 123) {-->
<!--      return false;-->
<!--      }-->
<!--      if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){-->
<!--      return false;-->
<!--      }-->
<!--      if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){-->
<!--      return false;-->
<!--      }-->
<!--      if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){-->
<!--      return false;-->
<!--      }-->
<!--      }-->
<!--      </script>-->
</body>
</html>
