{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/baselayout.css' %}">
    <script type="text/javascript" src="{% static 'js/baselayout.js' %}"></script>
	{% block headlinks %}{% endblock headlinks %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body oncontextmenu="return false;">
    <div class="hero-anime">
            <div class="navigation-wrap bg-light start-header start-style">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-12">
	    				<nav class="navbar navbar-expand-md navbar-light">

	    					<a class="navbar-brand" href="https://front.codes/" target="_blank">Rabonni Series</a>
	    					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    						<span class="navbar-toggler-icon"></span>
	    					</button>

	    					<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    						<ul class="navbar-nav ml-auto py-4 py-md-0">
									{% block navlinks %}
	    							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
	    								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
	    								<div class="dropdown-menu">
	    									<a class="dropdown-item" href="#">More Info</a>
	    								</div>
	    							</li>
	    							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
	    								<a class="nav-link" href="{% url 'users:Login' %}">Get Started</a>
	    							</li>
	    							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
	    								<a class="nav-link" href="#">Contact</a>
	    							</li>
									{% endblock navlinks %}
	    						</ul>
	    					</div>

	    				</nav>
	    			</div>
	    		</div>
	    	</div>
	    </div>

    </div>
        {% block body %}
        {% endblock body %}

<!-- <script>-->
<!--      document.addEventListener('contextmenu', event=> event.preventDefault());-->
<!--      document.onkeydown = function(e) {-->
<!--      if(event.keyCode == 123) {-->
<!--      return false;-->
<!--      }-->
<!--      if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){-->
<!--      return false;-->
<!--      }-->
<!--      if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){-->
<!--      return false;-->
<!--      }-->
<!--      if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){-->
<!--      return false;-->
<!--      }-->
<!--      }-->
<!--      </script>-->
</body>
</html>