{% extends 'baselayout.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block navlinks %}
    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
	    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 ">
	    	<a class="nav-link" href="{% url 'users:Login' %}">Home</a>
	    </li>
        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
	    	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
	    	<div class="dropdown-menu">
	    		<a class="dropdown-item" href="{% url 'mainsite:courses' %}">All Courses</a>
	    		<a class="dropdown-item" href="#">My Courses</a>
	    	</div>
		</li>
	    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
        <a class="nav-link" href="#">Contact</a>
    </li>
{% endblock navlinks %}

{% block body %}
<div class="section full-height">
	    	<div class="absolute-center">
	    		<div class="section">
	    			<div class="container">
	    				<div class="row">
	    					<div class="col-12">
								<img class="courseOverview" src="{% static 'images/books.png' %}" alt="course overview image">
	    			<h5>All in one suite to meet your educational need with our currated courses and lessons!</h5>
								<button type="button" class="btn btn-primary">Begin!</button>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
{% endblock body %}


