{% extends 'baselayout.html' %}
{% load static %}

{% block title %}Welcome{% endblock title %}
{% block navLinks %}

{% endblock navLinks %}

{% block body %}
        <div class="section full-height">
	    	<div class="absolute-center">
	    		<div class="section">
	    			<div class="container">
	    				<div class="row">
	    					<div class="col-12">
	    			<h1><span>T</span><span>e</span><span>s</span><span>t</span><span>S</span><span>u</span><span>i</span><span>t</span><span>e</span></h1>

	    			<p>All in one suite to meet your educational need with our currated courses and lessons!</p>
								<div class="">
									<a href="{% url 'users:Login' %}"><button class="btn  accBtn" style="width: 100px;margin: 0 auto;display: block;">Login</button></a>
								</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="my-5 py-5">
	    </div>
	<!--	start code for signup form-->
	<!--end code for signup form-->
	<!--	start code for login form-->
	<!--end code for login form-->

{% endblock body %}