{% extends 'baselayout.html' %}
{% load static %}


{% block headlinks %}
<link href="{% static 'css/question_test_styles.css' %}" rel="stylesheet">
<script src="{% static 'js/question_test_javascript.js' %}" type="text/javascript"></script>
<script src="{% static 'js/qHandlers/questionHandler.min.js' %}" type="text/javascript"></script>

{% endblock headlinks %}

{% block title %}
Home
{% endblock title %}

{% block navlinks %}

{% endblock navlinks %}

{% block body %}

<div class="editor-container" id="summernoteContainer">
    <div class="header">
        <div class="tabs">
            <div class="tab" id="qTab" onclick="toggleTab(this)"> Question</div>
            <div class="tab" id="dispTab" onclick="toggleTab(this)">Display</div>
            <div class="tab" id="pasteTab" onclick="toggleTab(this)">Paste</div>
            <div class="tab" id="scoreTab" onclick="toggleTab(this)">Scoring</div>
            <div class="tab" id="fldrTab" onclick="toggleTab(this)">Folder</div>
            <div class="tab" id="jsonTab" onclick="toggleTab(this)">JSON</div>

        </div>
        <div class="saveBtnDiv">
            <button class="btn btn-warning ">Save</button>
        </div>
    </div>
    <div class="func-div active" id="qDiv">
        <div class="sub_header-info">
            <ul class="sub-header-ul">
                <li class="sub-header-li"><h4>Question</h4></li>
                <li class="sub-header-li">
                    <input class="" id="extrAns" name="extrAns" type="checkbox">Extract Answer
                </li>
                <li class="sub-header-li">
                    <div class="input-container">
                        <textarea class="editable-text" id="rprtName" placeholder=""></textarea>
                        <label class="label" for="rprtName">Reporting Name</label>
                    </div>

                </li>
                <li class="sub-header-li">
                    <input id="sideBarEnbl" name="sideBarEnbl" onchange="showDiv('sBDiv');" type="checkbox">Sidebar
                </li>
                <li class="sub-header-li">
                    <input id="hintEnbl" name="hintEnbl" onchange="showDiv('hintDiv');" type="checkbox">Hint
                </li>
                <li class="sub-header-li">
                    <input id="fdbckEnbl" name="fdbckEnbl" onchange="showDiv('fdbackDiv');" type="checkbox">Feedback
                </li>
                <li class="sub-header-li">
                    <div class="switch-container">

                        <label class="switch">
                            <input onchange="togglePreviewVisibility();" type="checkbox">
                            <span class="slider"></span>
                        </label>
                        <label class="switch-label">Preview</label>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <form method="post" style="margin-top:20px;">
                <textarea id="qSummernote" name="editordata"></textarea>
            </form>
        </div>

        <div class="hDiv" id="sBDiv">
            <h4>Sidebar</h4>
            <textarea id="sBDivSummernote" name="sBDivSummernote"></textarea>
        </div>
        <div class="hDiv" id="hintDiv">
            <h4>Hint</h4>
            <input id="hintTitle" name="hintTitle" placeholder="Title" type="text"><textarea id="hintDivSummernote"
                                                                                             name="hintDivSummernote"></textarea>
        </div>
        <div class="hDiv" id="fdbackDiv">
            <h4>Feedback</h4>
            <textarea id="fdbackDivSummernote" name="fdbackDivSummernote"></textarea>
        </div>
        <div id="ansOptDiv">
        </div>

        <div id="ansDiv">
            <h6>Answers</h6>
            <ul class="sub-header-ul">
                <li class="sub-header-li">
                    <input id="sfC" name="sfC" type="checkbox">Shuffle Choices
                </li>
                <li class="sub-header-li">
                    <div class="input-container">
                        <textarea class="editable-text" id="threshold" placeholder=""></textarea>%
                        <label class="label" for="threshold">Threshold</label>
                    </div>
                </li>
                <li class="sub-header-li">
                    <div class="custom-dropdown">
                        <button aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"
                                id="customDropdownButton">
                            <span id="minSelectionText">Min Selection</span>
                        </button>
                        <div aria-labelledby="customDropdownButton" class="dropdown-menu">
                            <button class="dropdown-item" data-value="0">0</button>
                            <!--more drop down items go here-->
                        </div>
                    </div>
                </li>
                <li class="sub-header-li">
                    <div class="custom-dropdown">
                        <button aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"
                                id="customDropdownButton2">
                            <span id="maxSelectionText">Max Selection</span>
                        </button>
                        <div aria-labelledby="customDropdownButton" class="dropdown-menu">
                            <button class="dropdown-item" data-value="0">0</button>
                            <!--more drop down items go here-->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="ansInpDiv">
            <textarea class="ansSummernote"></textarea>
            <div class="saveBtnDiv">
                <button class="btn btn-warning " onclick="addAnswer();">Add Answer</button>
            </div>
        </div>
    </div>

    <div class="func-div" id="dispDiv">
        <!--        direction, wrapping, justify content, align items, margin-->
        <label for="dispType"><small>Display Type</small></label>
        <select id="dispType">
            <option value="flex">Flex</option>
            <option value="dropdown">Dropdown</option>
            <option value="grid">Grid</option>
        </select>
        <label for="directionType"><small>Direction Type</small></label>
        <select id="directionType">
            <option value="column">Column</option>
            <option value="row">Row</option>
        </select>
        <label for="wrappingType"><small>Wrapping</small></label>
        <select id="wrappingType">
            <option value="normal">Wrap</option>
            <option value="nowrap">No wrap</option>
        </select>
        <label for="justifyCntType"><small>Justify Content</small></label>
        <select id="justifyCntType">
            <option value="flex-start">Start</option>
            <option value="flex-end">End</option>
            <option value="center">Center</option>
            <option value="space-between">Space Between</option>
            <option value="space-around">Space Around</option>
            <option value="space-evenly">Space Evenly</option>
        </select>
        <label for="algnItmsType"><small>Align Items</small></label>
        <select id="algnItmsType">
            <option value="start">Start</option>
            <option value="end">End</option>
            <option value="center">Center</option>
            <option value="stretch">Stretch</option>
            <option value="baseline">Baseline</option>
        </select>
        <label for="marginType"><small>Margin</small></label>
        <select id="marginType">
            <option value="none">None</option>
            <option value="5">5px</option>
            <option value="10">10px</option>
            <option value="15">15px</option>
            <option value="20">20px</option>
            <option value="25">25px</option>
            <option value="30">30px</option>
            <option value="35">35px</option>
            <option value="40">40px</option>
        </select>
    </div>
    <div class="func-div " id="pasteDiv">
        <div class="grid-container">
            <div class="grid-child textarea-container">
            <textarea class="pasteQT" cols="30" id="pasteQuestionT" name="pastQuestionT"
                      placeholder="Paste or quickly write your question. Leave blank line after the question"
                      rows="10"></textarea>
            </div>
            <div class="grid-child example-container">
                <div style="padding: 20px; border: 1px solid rgb(221, 221, 221); background: rgb(238, 238, 238); margin-bottom: 29px;">
                    <div style="display: flex; align-items: center;">
                        <i aria-hidden="true" class="v-icon material-icons theme--light">short_text</i>
                        <div class="subheading">Example</div>
                    </div>
                    <div style="color: grey; font-style: italic; margin-bottom: 25px;">
                        What color is a banana?<br><br> Black<br> White<br> Blue<br> Yellow
                    </div>
                    <button class="v-btn v-btn--small theme--light" onclick="useExample();" style="margin-left: 0px;"
                            type="button">
                        <div class="v-btn__content">Use this example</div>
                    </button>
                </div>
            </div>
        </div>
        <button class="btn btn-warning" onclick="generateQPaste();">PASTE</button>
    </div>

    <div class="func-div" id="scoreDiv">
        <h4>Question's Point</h4>
        <b><i>User's question score is multiplied by the question point to affect the exam overall score</i></b>
        <div class="grid-container">
            <div class="input-container grid-child-e">
                <textarea class="editable-text" id="pnt" placeholder=""></textarea>
                <label class="label" for="pnt">Point</label>
            </div>
            <div class="input-container grid-child-e">
                <textarea class="editable-text" id="negMult" placeholder="" value="-0"></textarea>
                <label class="label" for="negMult">Negative Multiplier</label>
            </div>
        </div>
    </div>
    <div class="func-div" id="fldrDiv">
        <div class="input-container" id="folderDiv">
            <select class="dropdown-elem" id="fldrDrpDwn" name="fldrDrpDwn">
            </select>
            <label class="label" for="fldrDrpDwn">Folder</label>
        </div>

        <div id="tagDiv">
            <div id="addedTags"><i class="fas fa-tag" id="aTag"></i></div>
            <div class="input-container" id="tagDropDownDiv">
                <select class="dropdown-elem" id="tagDrpDwn" name="tagDrpDwn">
                </select>
                <label class="label" for="tagDrpDwn">Tag Name</label>
            </div>
            <div class="input-container" style="">
                <textarea class="editable-text" id="tagValue" name="tagValue" placeholder=""></textarea>
                <label class="label" for="tagValue">Tag Value</label>
            </div>
        </div>
        <div id="addTagDiv">
            <button class="btn btn-warning" onclick="addTag();">+Add Tag</button>
        </div>
    </div>
    <div class="func-div" id="jsonDiv">
        <ul id="myUL">
            <li><span class="caret">Beverages</span>
                <ul class="nested">
                    <li>Water</li>
                    <li>Coffee</li>
                    <li><span class="caret">Tea</span>
                        <ul class="nested">
                            <li>Black Tea</li>
                            <li>White Tea</li>
                            <li><span class="caret">Green Tea</span>
                                <ul class="nested">
                                    <li>Sencha</li>
                                    <li>Gyokuro</li>
                                    <li>Matcha</li>
                                    <li>Pi Lo Chun</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="func-div" id="previewDiv">
        <h4 style="text-align:center; justify-content:center; margin:0 auto;padding-top:20px;"><b>Preview</b></h4>
        <div id="previewQTitleDiv">
            <h4 id="previewQTitle"></h4>
        </div>
        <div id="previewAOptsDiv">

        </div>
    </div>
</div>


<script defer src="{% static 'js/functionality/page.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'js/qHandlers/questionHandler.min.js' %}" type="text/javascript"></script>

{% endblock body %}
