{% extends 'baselayout.html' %}
{% load static %}


{% block headlinks %}
<link href="{% static 'css/question_test_styles.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/question_test_javascript.js' %}"></script>

{% endblock headlinks %}

{% block title %}
Home
{% endblock title %}

{% block navlinks %}

{% endblock navlinks %}

{% block body %}

<div id="summernoteContainer" class="editor-container">
    <div class="header">
        <div class="tabs">
            <div class="tab" id="qTab" onclick="toggleTab(this)"> Question</div>
            <div class="tab" id="dispTab" onclick="toggleTab(this)">Display</div>
            <div class="tab" id="scoreTab" onclick="toggleTab(this)">Scoring</div>
            <div class="tab" id="fldrTab" onclick="toggleTab(this)">Folder</div>
            <div class="tab" id="jsonTab" onclick="toggleTab(this)">JSON</div>

        </div>
        <div class="saveBtnDiv">
            <button class="btn btn-warning ">Save</button>
        </div>
    </div>
    <div class="func-div active" id="qDiv">
        <div class="sub_header-info">
            <ul class="sub-header-ul">
                <li class="sub-header-li"><h4>Question</h4></li>
                <li class="sub-header-li">
                    <input class="" type="checkbox" name="extrAns" id="extrAns">Extract Answer
                </li>
                <li class="sub-header-li">
                    <div class="input-container">
                        <textarea class="editable-text" id="rprtName" placeholder=""></textarea>
                        <label class="label" for="rprtName">Reporting Name</label>
                    </div>

                </li>
                <li class="sub-header-li">
                    <input type="checkbox" name="sideBarEnbl" id="sideBarEnbl" onchange="showDiv('sBDiv');">Sidebar
                </li>
                <li class="sub-header-li">
                    <input type="checkbox" name="hintEnbl" id="hintEnbl" onchange="showDiv('hintDiv');">Hint
                </li>
                <li class="sub-header-li">
                    <input type="checkbox" name="fdbckEnbl" id="fdbckEnbl" onchange="showDiv('fdbackDiv');">Feedback
                </li>
                <li class="sub-header-li">
                    <div class="switch-container">

                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                        <label class="switch-label">Preview</label>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <form method="post" style="margin-top:20px;">
                <textarea id="qSummernote" name="editordata"></textarea>
            </form>
        </div>

        <div id="sBDiv" class="hDiv">
            <h4>Sidebar</h4>
            <textarea name="sBDivSummernote" id="sBDivSummernote"></textarea>
        </div>
        <div id="hintDiv" class="hDiv">
            <h4>Hint</h4>
            <input type="text" id="hintTitle" name="hintTitle" placeholder="Title"><textarea name="hintDivSummernote" id="hintDivSummernote"></textarea>
        </div>
        <div id="fdbackDiv" class="hDiv">
            <h4>Feedback</h4>
            <textarea name="fdbackDivSummernote" id="fdbackDivSummernote"></textarea>
        </div>
        <div id="ansOptDiv">
        </div>

        <div id="ansDiv">
            <h6>Answers</h6>
            <ul class="sub-header-ul">
                <li class="sub-header-li">
                    <input type="checkbox" name="sfC" id="sfC">Shuffle Choices
                </li>
                <li class="sub-header-li">
                    <div class="input-container">
                        <textarea class="editable-text" id="threshold" placeholder=""></textarea>%
                        <label class="label" for="threshold">Threshold</label>
                    </div>
                </li>
                <li class="sub-header-li">
                    <div class="custom-dropdown">
                        <button class="dropdown-toggle" id="customDropdownButton" aria-haspopup="true"
                                aria-expanded="false">
                            <span id="minSelectionText">Min Selection</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="customDropdownButton">
                            <button class="dropdown-item" data-value="0">0</button>
                            <!--more drop down items go here-->
                        </div>
                    </div>
                </li>
                <li class="sub-header-li">
                    <div class="custom-dropdown">
                        <button class="dropdown-toggle" id="customDropdownButton2" aria-haspopup="true"
                                aria-expanded="false">
                            <span id="maxSelectionText">Max Selection</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="customDropdownButton">
                            <button class="dropdown-item" data-value="0">0</button>
                            <!--more drop down items go here-->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="ansInpDiv">
            <textarea class="ansSummernote"></textarea>
            <div class="saveBtnDiv">
                <button class="btn btn-warning " onclick="addAnswer();">Add Answer</button>
            </div>
        </div>
        <div id="previewDiv">
            <h4 style="text-align:center; justify-content:center; margin:0 auto;padding-top:20px;"><b>Preview</b></h4>
            <div id="previewQTitleDiv">
                <h4 id="previewQTitle"></h4>
            </div>
            <div id="previewAOptsDiv">

            </div>
        </div>
    </div>

    <div class="func-div" id="dispDiv">
        <!--        direction, wrapping, justify content, align items, margin-->
        <label for="dispType"><small>Display Type</small></label>
        <select id="dispType">
            <option value="flex">Flex</option>
            <option value="dropdwon">Dropdown</option>
            <option value="grid">Grid</option>
        </select>
        <label for="directionType"><small>Direction Type</small></label>
        <select id="directionType">
            <option value="column">Column</option>
            <option value="row">Row</option>
        </select>
        <label for="wrappingType"><small>Wrapping</small></label>
        <select id="wrappingType">
            <option value="wrap">Wrap</option>
            <option value="nowrap">No wrap</option>
        </select>
        <label for="justifyCntType"><small>Justify Content</small></label>
        <select id="justifyCntType">
            <option value="start">Start</option>
            <option value="end">End</option>
            <option value="center">Center</option>
            <option value="spBtw">Space Between</option>
            <option value="spArnd">Space Around</option>
            <option value="spEvn">Space Evenly</option>
        </select>
        <label for="algnItmsType"><small>Align Items</small></label>
        <select id="algnItmsType">
            <option value="start">Start</option>
            <option value="end">End</option>
            <option value="center">Center</option>
            <option value="stretch">Stretch</option>
            <option value="baseline">Baseline</option>
        </select>
        <label for="marginType"><small>Margin</small></label>
        <select id="marginType">
            <option value="none">None</option>
            <option value="5">5px</option>
            <option value="10">10px</option>
            <option value="15">15px</option>
            <option value="20">20px</option>
            <option value="25">25px</option>
            <option value="30">30px</option>
            <option value="35">35px</option>
            <option value="40">40px</option>
        </select>
        <div id="questionPreview">
        </div>
    </div>
    <div class="func-div" id="scoreDiv"></div>
    <div class="func-div" id="fldrDiv"></div>
    <div class="func-div" id="jsonDiv"></div>
</div>


<script defer src="{% static 'js/functionality/page.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'js/qHandlers/questionHandler.min.js' %}" type="text/javascript"></script>

{% endblock body %}
